.c-btn {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;
}

.c-btn--md {
  padding: .5rem 3rem;
}

.c-btn--brand {
  background: $color-brand;
  color: white;

  &:hover,
  &:focus {
    color: white;
    background: lighten($color-brand, 10%);
  }
}

.c-btn--remove {
  $size: 28px;
  position: absolute;
  top: ($spacing-unit / 2);
  right: ($spacing-unit / 2);
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: 50%;
  background: #444444;
  color: white;

  &:hover,
  &:focus {
    background: #111111;
  }
}
