.c-card {
  position: relative;
  padding: ($spacing-unit * 2) $spacing-unit;
  background: white;
  box-shadow: 0 0 3px 0 rgba(black, .2);
}

.c-card--high {
  background: #ffdbdb;
}

.c-card--medium {
  background: #fffcdb;
}

.c-card__remove {
  opacity: 0;
  transition: all .2s;
}

.c-card:hover .c-card__remove {
  opacity: 1;
}

