.c-card {
  position: relative;
  padding: ($spacing-unit * 2) $spacing-unit;
  background: white;
  box-shadow: 0 0 3px 0 rgba(black, .2);
}

.c-card--high {
  background: #ffdbdb;
}

.c-card--medium {
  background: #fffcdb;
}

.c-card__remove {
  opacity: 0;
  transition: all .2s;
}




.c-card:hover .c-card__remove {
  opacity: 1;
}



.c-tile {
  position: relative;
  min-height: 200px;
}

.c-tile__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 $spacing-unit;
  text-align: center;
}

.c-tile--leave.c-tile--leave-active {
  opacity: 0;
  min-height: 0;
  margin-bottom: 0;
  transition: all .3s;
}

