/*
Set values to true to have them compiled into your resulting stylesheet.
Set features that you are not using to keep bloat down to a minimum!
*/

// #Grid
$use-grid: true;

$use-grid--equal-height: true;
$use-grid--center: false;
$use-grid--bottom: false;

$use-grid--gutter-lg: true;
$use-grid--gutter-sm: false;
$use-grid--no-gutter: false;
$use-grid--matrix: true;

$use-grid--reverse: false;


// #Lists
$use-bare-list: true;
$use-inline-list: false;
$use-matrix-list: false;
$use-justified-list: false;

// #Objects
$use-bare-link: false;
$use-flag: false;



// #Helpers

// #Typography
$use-fonts: false;
$use-font-size: false;
$use-font-styling: false;
$use-text-alignment: false;
$use-font-family: false;

// #Push
$use-push-left: false;
$use-push-bottom: true;


// #Flush
$use-flush-left: false;
$use-flush-bottom: true;


// #Soft
$use-soft: false;
$use-soft-top: false;
$use-soft-right: false;
$use-soft-bottom: false;
$use-soft-left: false;
$use-soft-sides: false;
$use-soft-ends: false;


// #Hard
$use-hard: false;
$use-hard-top: false;
$use-hard-right: false;
$use-hard-bottom: false;
$use-hard-left: false;
$use-hard-sides: false;
$use-hard-ends: false;

// #Borders
$use-border: false;
$use-border-top: false;
$use-border-right: false;
$use-border-bottom: false;
$use-border-left: false;
$use-border-sides: false;
$use-border-ends: false;

$use-clean: false;
$use-clean-top: false;
$use-clean-right: false;
$use-clean-bottom: false;
$use-clean-left: false;
$use-clean-sides: false;
$use-clean-ends: false;

// #Layout
$use-display-block: false;
$use-display-inline: false;
$use-display-inline-block: false;
$use-center-block: false;

//#Hidden
$use-hidden: false;
$use-visually-hidden: false;

$use-circle: false;


// #Widths
$use-width-1-1: false;
$use-width-1-2: false;
$use-width-1-3: true;
$use-width-2-3: false;
$use-width-1-4: false;
$use-width-2-4: false;
$use-width-3-4: false;
$use-width-1-5: false;
$use-width-2-5: false;
$use-width-3-5: false;
$use-width-4-5: false;
$use-width-1-6: false;
$use-width-2-6: false;
$use-width-3-6: false;
$use-width-4-6: false;
$use-width-5-6: false;
$use-width-1-8: false;
$use-width-2-8: false;
$use-width-3-8: false;
$use-width-4-8: false;
$use-width-5-8: false;
$use-width-6-8: false;
$use-width-7-8: false;
$use-width-1-10: false;
$use-width-2-10: false;
$use-width-3-10: false;
$use-width-4-10: false;
$use-width-5-10: false;
$use-width-6-10: false;
$use-width-7-10: false;
$use-width-8-10: false;
$use-width-9-10: false;
$use-width-1-12: false;
$use-width-2-12: false;
$use-width-3-12: false;
$use-width-4-12: false;
$use-width-5-12: false;
$use-width-6-12: false;
$use-width-7-12: false;
$use-width-8-12: false;
$use-width-9-12: false;
$use-width-10-12: false;
$use-width-11-12: false;

// #Push
$use-push-1-1: false;
$use-push-1-2: false;
$use-push-1-3: false;
$use-push-2-3: false;
$use-push-1-4: false;
$use-push-2-4: false;
$use-push-3-4: false;
$use-push-1-5: false;
$use-push-2-5: false;
$use-push-3-5: false;
$use-push-4-5: false;
$use-push-1-6: false;
$use-push-2-6: false;
$use-push-3-6: false;
$use-push-4-6: false;
$use-push-5-6: false;
$use-push-1-8: false;
$use-push-2-8: false;
$use-push-3-8: false;
$use-push-4-8: false;
$use-push-5-8: false;
$use-push-6-8: false;
$use-push-7-8: false;
$use-push-1-10: false;
$use-push-2-10: false;
$use-push-3-10: false;
$use-push-4-10: false;
$use-push-5-10: false;
$use-push-6-10: false;
$use-push-7-10: false;
$use-push-8-10: false;
$use-push-9-10: false;
$use-push-1-12: false;
$use-push-2-12: false;
$use-push-3-12: false;
$use-push-4-12: false;
$use-push-5-12: false;
$use-push-6-12: false;
$use-push-7-12: false;
$use-push-8-12: false;
$use-push-9-12: false;
$use-push-10-12: false;
$use-push-11-12: false;

// #Pull
$use-pull-1-1: false;
$use-pull-1-2: false;
$use-pull-1-3: false;
$use-pull-2-3: false;
$use-pull-1-4: false;
$use-pull-2-4: false;
$use-pull-3-4: false;
$use-pull-1-5: false;
$use-pull-2-5: false;
$use-pull-3-5: false;
$use-pull-4-5: false;
$use-pull-1-6: false;
$use-pull-2-6: false;
$use-pull-3-6: false;
$use-pull-4-6: false;
$use-pull-5-6: false;
$use-pull-1-8: false;
$use-pull-2-8: false;
$use-pull-3-8: false;
$use-pull-4-8: false;
$use-pull-5-8: false;
$use-pull-6-8: false;
$use-pull-7-8: false;
$use-pull-1-10: false;
$use-pull-2-10: false;
$use-pull-3-10: false;
$use-pull-4-10: false;
$use-pull-5-10: false;
$use-pull-6-10: false;
$use-pull-7-10: false;
$use-pull-8-10: false;
$use-pull-9-10: false;
$use-pull-1-12: false;
$use-pull-2-12: false;
$use-pull-3-12: false;
$use-pull-4-12: false;
$use-pull-5-12: false;
$use-pull-6-12: false;
$use-pull-7-12: false;
$use-pull-8-12: false;
$use-pull-9-12: false;
$use-pull-10-12: false;
$use-pull-11-12: false;
