@if $use-push-left {
  .u-push-left {
    margin-left: $spacing-unit !important;
  }
}

@if $use-push-bottom {
  .u-push-bottom {
    margin-bottom: $spacing-unit !important;
  }
}


@if $use-flush-left {
  .u-flush-left {
    margin-left: 0 !important;
  }
}

@if $use-flush-bottom {
  .u-flush-bottom {
    margin-bottom: 0 !important;
  }
}
